<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>E-mail</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <input type="button" value="Update" formmethod="get"
                       th:onclick="'window.location.href = \'' + @{/admin/updateUser(id=${user.getId()})} + '\''">
                <input type="button" value="Delete" formmethod="get"
                       th:onclick="'window.location.href = \'' + @{/admin/removeUser(id=${user.getId()})} + '\''">
            </td>
        </tr>
    </table>
</div>

<br>

<input type="button" value="Add" onclick="window.location.href = 'admin/addUser'">
<br>
<input type="button" value="Logout" onclick="window.location.href = 'logout'">

</body>
</html>